Source: debtree
Section: utils
Priority: optional
Maintainer: Josue Ortega <josue@debian.org>
Build-Depends: debhelper-compat(= 12)
Standards-Version: 4.3.0
Homepage: https://salsa.debian.org/debian/debtree
Vcs-Git: https://salsa.debian.org/debian/debtree.git
Vcs-Browser: https://salsa.debian.org/debian/debtree
Rules-Requires-Root: no

Package: debtree
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libapt-pkg-perl, ucf, dctrl-tools
Recommends: graphviz
Description: package dependency graphs on steroids
 Very powerful and versatile tool for generating dependency graphs showing the
 relationships between .deb packages.
 .
 The graph is generated in the form of a .dot file that can be used as input
 for the utility 'dot' from the graphviz  package. What information is included
 in a graph can be varied using command line options.
 .
 Supported are: regular (forward) dependencies, reverse dependencies, showing
 installed packages, virtual packages, alternatives, and much more.
